% -*- mode: erlang -*-
{plugins, [rebar_ct]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{sub_dirs, [
	    "src",
            "rel"
           ]}.

% Dependencies
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", 
		          {tag, "1.2.1"}}}
       ]}.


